<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjo0WPgxER61-QUn6YO-f3MwB7v2iX46g</string>
	<key>GCM_SENDER_ID</key>
	<string>966248285377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.panneDetector.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>weekly-planner-7961e</string>
	<key>STORAGE_BUCKET</key>
	<string>weekly-planner-7961e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966248285377:ios:e060de3c8905df69c40040</string>
</dict>
</plist>